#logo 
	img(src="/imgs/logo.png")#logoIcon
	span 电动汽车交易平台
	span.systime 模拟系统时间:(
	span#simulationSysTime.systime
	span.systime )


#whoAmI
	span.fa.fa-user#userIcon
	span#userField Admin
	span &nbsp;
	span.fa.fa-angle-down#carrot
	

	#userSelect
		#triangle
		a(href="/logout").userLine Logout
